{% extends 'base.html.twig' %}

{% block title %}Create New Habitat{% endblock %}

{% block body %}
    <h1>Create New Habitat</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('app_habitat_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
