{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demande de réinitialisation de mot de passe</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
