html, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', serif;
}

link,
p,
button {
    font-family: 'Open sans', sans-serif;
}

header {
    background-color: #5F6F52;
}

.navbar-brand {
    margin: -0.8dvh;
}

.clickable {
    cursor: pointer;
}

.navbar-brand img {
    width: 5rem;
    height: auto;
    background-color: #B99470;
}

.detail {
    width: auto;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

.detail::-webkit-scrollbar {
    display: none;
}

.cadre {
    background-color: #FEFAE0;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avis {
    background-color: #A9B388;
}

footer {
    background-color: #B99470;
}

#map {
    height: 400px;
}

.rating i {
    cursor: pointer;
    color: gold;
    font-size: 24px;
}

#review-rating-container #review_rating {
    display: none;
}

