{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Merci de nous avoir contactés !</h1>
    <p>Nous avons bien reçu votre demande et nous vous répondrons dans les plus brefs délais.</p>
{% endblock %}
