<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Titre: {{ title }}</p>
<p>Description: {{ description }}</p>
<p>Email de l'expéditeur: {{ sender_email }}</p>
</body>
</html>
